body{
	background: #272727;
	font-family: Montserrat;
	margin: 0;
}

h1{
	background: #16DB44;
	margin: 0;
	padding: 15px 0;

	color: white;
	text-align: center;
	font-weight: 400;
	text-transform: uppercase;
}

button{
	height: 100%;
	margin: 0 auto;
	border: none;
	background: none;

	outline: none;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 700;
	color: #202020;
	transition: all 0.4s;
}

button:hover{
	background: #16DB44;
	color: white;
}

#messageColor{
	font-size: 1.5em;
}

#messageDisplay{
	width: 150px;
	display: inline-block;
}

#stripe{
	height: 25px;
	background: white;
	text-align: center;
}

#container{
	width: 420px;
	margin: 0 auto;
	padding-top: 10px;
	text-align: center;
}

.square{
	width: 30%;
	padding-top: 30%;
	margin: 1.66%;
	background: red;
	border-radius: 20%;

	float: left;
	transition: background 0.4s;
}

.selected{
	background: #16DB44;
	color: white;
}

